@model List<Customer>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AccountType</th>
                <th>AccountNumber</th>
                <th>AccessCode</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.AccountType</td>
                    <td>@product.AccountNumber</td>
                    <td>@product.AccessCode</td>
                </tr>
            }
        </tbody>
    </table>
